# Ignore the actual private keys
id_ed25519
*.key

# It should ignore any local test files that aren't scripts
notes.txt
*.age
*.sha256

# Do NOT ignore the documentation needed to submit
!README.md
!User_Manual.pdf
!Report.pdf

id_ed25519
