# Ignore the actual private keys
id_ed25519.pub
*.key

# It should ignore any local test files that aren't scripts
notes.txt
*.age
*.sha256

# Do NOT ignore the documentation you need to submit
!README.md
!User_Manual.pdf
!Report.pdf

